h1, h2, h3 {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: transparent;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  perspective: 1400px;
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.gwd-button-jvx8 {
  position: absolute;
  width: 8.36%;
  height: 3.24%;
  left: 66%;
  top: 73%;
}

.gwd-select-35zk {
  position: absolute;
  width: 8.36%;
  height: 3.24%;
  top: 18.5%;
  left: 23.75%;
}

.gwd-input-16dq {
  position: absolute;
  width: 1.25%;
  height: 2.02%;
  left: 24.5%;
  top: 67.88%;
}

.gwd-label-1od6 {
  position: absolute;
  height: 2.7%;
  text-align: center;
  width: 11%;
  top: 19.03%;
  left: 2.76%;
  font-size: 14px;
}

.gwd-label-1r9p {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 2.76%;
  top: 28.48%;
  font-size: 14px;
  text-align: center;
}

.gwd-label-nmcf {
  position: absolute;
  width: 10%;
  height: 7%;
  text-align: center;
  left: 2.76%;
  top: 37.65%;
  font-size: 14px;
}

.gwd-label-8gs6 {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 2.76%;
  top: 52.09%;
  text-align: center;
}

.gwd-label-ed12 {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 2.26%;
  top: 76.11%;
  text-align: center;
}

.gwd-input-2en3 {
  position: absolute;
  width: 4.18%;
  height: 2.7%;
  top: 25.37%;
  left: 21.49%;
}

.gwd-label-x5vd {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 27.93%;
  top: 25.78%;
}

.gwd-label-z3ha {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 27.93%;
  top: 31.98%;
}

.gwd-input-1gtx {
  position: absolute;
  width: 4.18%;
  height: 2.7%;
  left: 21.49%;
  top: 31.58%;
}

.gwd-input-l5zr {
  position: absolute;
  width: 4.18%;
  height: 2.7%;
  top: 39.68%;
  left: 21.49%;
}

.gwd-label-1833 {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 28.18%;
  top: 40.08%;
}

.gwd-label-js3y {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  top: 51.69%;
  left: 28.2%;
}

.gwd-input-btk6 {
  position: absolute;
  width: 4.18%;
  height: 2.7%;
  top: 51.28%;
  left: 21.51%;
}

.gwd-input-1fsx {
  top: 71.26%;
  left: 17.58%;
}

.gwd-input-qgi1 {
  top: 90.69%;
  left: 17.58%;
}

.gwd-input-iemn {
  top: 80.97%;
  left: 17.58%;
}

.gwd-label-1lf6 {
  position: absolute;
  width: 20%;
  height: 5%;
  top: 60.46%;
  left: 21.51%;
}

.gwd-label-1vc4 {
  position: absolute;
  width: 20%;
  height: 5%;
  top: 70.18%;
  left: 21.51%;
}

.gwd-label-2boz {
  position: absolute;
  width: 20%;
  height: 5%;
  top: 79.89%;
  left: 21.17%;
}

.gwd-label-1y6t {
  position: absolute;
  width: 20%;
  height: 5%;
  top: 89.47%;
  left: 21.17%;
}

.gwd-input-1a32 {
  top: 61.54%;
  left: 17.58%;
}

.gwd-label-szqs {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 70.57%;
  top: 18.49%;
}

.gwd-label-1l52 {
  position: absolute;
  text-align: center;
  height: 7%;
  left: 50.17%;
  top: 45.21%;
  width: 10%;
}

.gwd-label-jml9 {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 53.09%;
  top: 43.59%;
}

.gwd-label-y2rj {
  position: absolute;
  text-align: center;
  width: 10%;
  height: 7%;
  top: 59.11%;
  left: 50.17%;
}

.gwd-label-aokf {
  position: absolute;
  background-image: none;
  background-color: transparent;
  border-image-source: none;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-color: rgb(0, 0, 0);
  text-align: center;
  width: 10%;
  height: 7%;
  top: 44.94%;
  left: 60.45%;
}

.gwd-label-9mcb {
  position: absolute;
  left: 1010px;
  top: 370.5px;
  width: 100px;
  height: 20px;
}

.gwd-label-n27l {
  position: absolute;
  width: 8.36%;
  height: 2.7%;
  left: 80.1%;
  top: 54.79%;
}

.gwd-label-1a92 {
  background-image: none;
  background-color: transparent;
  text-align: center;
  width: 10%;
  height: 7%;
  left: 70.23%;
  top: 45.07%;
}

.gwd-label-rjm8 {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 80.18%;
  font-size: 14px;
  top: 45.07%;
}

.gwd-label-bptp {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 60.2%;
  top: 59.11%;
}

.gwd-label-ylb0 {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 80.18%;
  top: 58.97%;
  font-size: 14px;
}

.gwd-label-1o0c {
  text-align: center;
  width: 10%;
  left: 70.23%;
  top: 58.97%;
  height: 7%;
}

.gwd-label-hx0p {
  left: 63.38%;
  top: 43.32%;
}

.gwd-label-1bca {
  left: 73.66%;
  top: 42.24%;
}

.gwd-label-cl54 {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 80.18%;
  top: 51.96%;
  font-size: 14px;
}

.gwd-label-ehy8 {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 70.23%;
  top: 51.96%;
}

.gwd-label-15ha {
  position: absolute;
  width: 100%;
  height: 10%;
  font-size: 75px;
  text-align: center;
  left: 0%;
  top: 1.89%;
}

.gwd-label-17mm {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 50.17%;
  top: 52.09%;
}

.gwd-label-16kc {
  text-align: center;
  width: 10%;
  height: 7%;
  left: 60.2%;
  top: 52.23%;
}

.gwd-label-mlfa {
  position: absolute;
  height: 2.7%;
  top: 18.49%;
  width: 14%;
  text-align: center;
  left: 56.61%;
}

.gwd-label-1ta8 {
  position: absolute;
  text-align: center;
  left: 50.17%;
  top: 37.92%;
  width: 10%;
  height: 7%;
}

.gwd-label-1hx9 {
  position: absolute;
  text-align: center;
  left: 60.45%;
  top: 37.79%;
  width: 10%;
  height: 7%;
}

.gwd-label-2ha5 {
  position: absolute;
  text-align: center;
  width: 10%;
  height: 7%;
  left: 70.48%;
  top: 37.92%;
}

.gwd-label-1aoi {
  position: absolute;
  text-align: center;
  width: 10%;
  height: 7%;
  left: 80.18%;
  top: 37.65%;
  font-size: 14px;
}
